@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  

* {
    font-family: Roboto, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}


.nav-links button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* .login-button {
  padding: 6px 16px;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  font-weight: bold;
} */

.hero-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.hero-text {
  max-width: 500px;
  text-align: left;
}

.hero-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.get-started-btn {
  padding: 10px 20px;
  background-color: #0056d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.hero-image {
  height: 400px;
  max-width: 100%;
  margin-top: 20px;
}

