.wrapper {
  font-family: Roboto, sans-serif;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.navLinks a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.contentWrapper {
  display: flex;
}

.sidebar {
  width: 220px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.sideButton {
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  border: 1px solid #ccc;
  background: #fff;
  font-weight: 600;
  cursor: pointer;
}

.active {
  background-color: #0046ad;
  color: white;
}

.logoutButton {
  margin-top: auto;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.1s;
}

.logoutButton:hover{
  background: #004aad;
  color: #fff;
}

.mainContent {
  flex: 1;
  padding: 20px;
}

.titleBar {
  background-color: #0046ad;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.subTitleBar {
  background-color: #0046ad;
  color: white;
  padding: 8px;
  margin-top: 10px;
  font-weight: 600;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.topNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImage {
  width: 40px; /* Adjust this to desired size */
  height: auto;
}

.logoText {
  font-size: 1.2rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}


input {
  width: 20%;
  padding: 12px;
  margin: 10px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s;
}

input input:focus {
  border-color: #004aad;
  outline: none;
}

.submitBtn {
  width: 15%;
  padding: 12px;
  margin: 15px 10px;
  background-color: #fff;
  border: 2px solid #004aad;
  border-radius: 6px;
  color: #004aad;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.submitBtn:hover {
  background-color: #004aad;
  color: #fff;
}